<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Table</title>
    <link rel="stylesheet" href="assets/css/mobile-table.css">
</head>
<body>
    <div class="container">
        <h1 class="mb-2 p-1">Responsive Table Demonstration</h1>
        <div class="table-container p-1">
            <table class="table table-striped table-responsive">
                <caption>Employee List</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Department</th>
                        <th>Age</th>
                        <th>Profession</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-cell="name">Chibuike Okoronkwo Emmanuel</td>
                        <td data-cell="country">Nigeria</td>
                        <td data-cell="department">Computer Science</td>
                        <td data-cell="age">25</td>
                        <td data-cell="profession">Data Analyst</td>
                    </tr>
                    <tr>
                        <td data-cell="name">James Otor</td>
                        <td data-cell="country">Canada</td>
                        <td data-cell="dept">Computer Science</td>
                        <td data-cell="age">28</td>
                        <td data-cell="profession">Programmer</td>
                    </tr>
                    <tr>
                        <td data-cell="name">Mary Rose</td>
                        <td data-cell="country">United Kingdom</td>
                        <td data-cell="dept">Medicine</td>
                        <td data-cell="age">30</td>
                        <td data-cell="profession">Dentist</td>
                    </tr>
                    <tr>
                        <td data-cell="name">Michael Brian</td>
                        <td data-cell="country">United States</td>
                        <td data-cell="dept">Computer Science</td>
                        <td data-cell="age">31</td>
                        <td data-cell="profession">Software Engineer</td>
                    </tr>
                    <tr>
                        <td data-cell="name">John Doe</td>
                        <td data-cell="country">United States</td>
                        <td data-cell="dept">Engineering</td>
                        <td data-cell="age">36</td>
                        <td data-cell="profession">Mechanical Engineer</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>